<ion-header>
  <ion-toolbar>
    <ion-title>Users Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="onLoadUser('User')">Get Users</button>
</ion-content>
