<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 

    <form (ngSubmit)="signInForm()">
       <ion-item>
        <ion-label>Enter your Email</ion-label>
        <ion-input type="text" placeholder="Email" name="useremail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Enter your Password</ion-label>
        <ion-input type="password" placeholder="Enter your Password" name="password"></ion-input>
      </ion-item>
      <ion-item [href]="" routerDirection="forward">
        <button ion-button type="submit" full>Submit</button>  
      </ion-item>
      <ion-item [href]="">
        <p>No account why not register?</p>
      </ion-item>
    </form>
</ion-content>
