<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref='/master'></ion-back-button>
      </ion-buttons>
      <ion-title>{{apiData.name}} Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Name: {{apiData.name}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-card-subtitle>Details:</ion-card-subtitle>
        <p>Height : {{apiData.height}}</p>
        <p>Mass : {{apiData.mass}}</p>
        <p>Hair colour : {{apiData.hair_color}}</p>
        <p>Skin colour : {{apiData.skin_color}}</p>
        <p>Birth Year : {{apiData.birth_year}}</p>
        <p>Created : {{apiData.created | date}}</p>
        <p>Eye colour : {{apiData.eye_color}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  