<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Master List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let apidat of apiData?.results; let i = index" [attr.data-index]="i" [routerLink]="'/detail/' + (i+1)">
        <!-- Little Hacky way of making the id index work correctly 
          because although were referencing ID within the service 
          the Star Wars Api results returned has no Id's on it's values!! -->
        <ion-icon name="desktop" slot="start"></ion-icon>
          {{apidat.name}}
        <div class="item-note" slot="end">
          {{apidat.created | date}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>