<ion-header>
  <ion-toolbar>
    <ion-title>{{ name }} User Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button>Back</button>
  <p>Hi, this is the {{ name }} user page</p>
</ion-content>
